@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<body >
    <div class="text-center">
        <img src="~/images/FlowersFromExile_AdrianBorda_GoogleImages.jpg" class="img-rounded" height="800" width="600" />
    </div>
</body>
