
@{
    ViewData["Title"] = "PortfolioIndex";
}

<body >
    <br />
    <h2>My Portfolio</h2>
    <h3>Dreamscape: IDO by Alix Field</h3>
    <br />
    <img src="~/images/AlixField_Final_DreamScape_1330.51.jpg" height="400" width="700" />
    <br /><br />
    <p>
        Donec blandit cursus luctus. Nunc sagittis efficitur arcu, id vehicula erat. Donec vitae leo congue, efficitur elit ut, sagittis lacus. Donec sem tellus, aliquam cursus consectetur quis, mattis quis urna. Ut fermentum tellus in tortor convallis, laoreet imperdiet justo tincidunt. Fusce ultricies metus id tempor commodo. Curabitur tellus turpis, egestas sed nisi sagittis, suscipit mattis massa. Praesent consectetur nunc lorem, ac porta elit dignissim in. Nunc vel bibendum eros. Cras sollicitudin massa a metus blandit, ut aliquet magna semper.
    </p>
    <p>
        Duis ultricies risus eu mattis ultricies. Mauris at neque sit amet augue cursus rhoncus. Maecenas sodales tincidunt nibh, nec vulputate augue dignissim ut. Nullam eleifend turpis ac purus varius, vel luctus eros hendrerit. Vivamus tempor nibh sed erat viverra, non dapibus magna hendrerit. Vivamus diam velit, blandit vel velit sit amet, sodales vestibulum dui. Praesent finibus risus in porta lobortis. Aliquam lacus mi, cursus id ex non, malesuada consequat eros.
    </p>
    <p>
        Mauris sed enim erat. Proin feugiat urna ullamcorper euismod rutrum. Nullam elementum placerat odio. Vestibulum consequat ac felis vitae vehicula. Ut aliquet dolor non magna suscipit pharetra. Quisque consectetur neque eget blandit interdum. Quisque finibus sem urna, eu sagittis elit commodo a. Nunc metus velit, rhoncus in quam ac, laoreet dictum felis. Praesent ac tellus quis mauris ornare vestibulum vitae non nulla. Proin placerat blandit mattis. Praesent convallis, massa nec vehicula sodales, erat dui ultrices justo, in efficitur libero mauris sit amet leo.
    </p>
</body>
